#include "resources.h"

Aggregation RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\Aggregation.swift"
Array+FromAbi RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\Array+FromAbi.swift"
Array+ToAbi RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\Array+ToAbi.swift"
Array+toVector RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\Array+toVector.swift"
COM+Extensions RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\COM+Extensions.swift"
ComPtr RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\ComPtr.swift"
CppInteropWorkaround RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\CppInteropWorkaround.swift"
CustomQueryInterface RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\CustomQueryInterface.swift"
Debugging RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\Debugging.swift"
Dictionary+toMap RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\Dictionary+toMap.swift"
Error RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\Error.swift"
ErrorHandling RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\ErrorHandling.swift"
GUID RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\GUID.swift"
HString RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\HString.swift"
IBufferByteAccess RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\IBufferByteAccess.swift"
IInspectable RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\IInspectable.swift"
IInspectable+Swift RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\IInspectable+Swift.swift"
IMap+Swift RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\IMap+Swift.swift"
IMemoryBufferByteAccess RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\IMemoryBufferByteAccess.swift"
IUnknown RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\IUnknown.swift"
IUnknown+Swift RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\IUnknown+Swift.swift"
IUnknownRef RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\IUnknownRef.swift"
IVector+Swift RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\IVector+Swift.swift"
MakeFromAbi RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\MakeFromAbi.swift"
Marshaler RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\Marshaler.swift"
RawTyped RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\RawTyped.swift"
Runtime+Swift RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\Runtime+Swift.swift"
Swift+Extensions RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\Swift+Extensions.swift"
TrustLevel+Swift RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\TrustLevel+Swift.swift"
IWeakReference RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\IWeakReference.swift"
IWeakReferenceSource RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\IWeakReferenceSource.swift"
WinRTWrapperBase RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\WinRTWrapperBase.swift"
WinSDK+Extensions RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\WinSDK+Extensions.swift"
PropertyValue RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\PropertyValue.swift"
PropertyValue+ABI RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\PropertyValue+ABI.swift"
WinRTBridgeable RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\WinRTBridgeable.swift"
WinRTProtocols RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\WinRTProtocols.swift"
Event RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\Events\\Event.swift"
EventHandlerSubscription RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\Events\\EventHandlerSubscription.swift"
EventSource RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\Events\\EventSource.swift"
WinRTDelegate RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\Events\\WinRTDelegate.swift"
WaitableEvent RESOURCE_TYPE_SWIFT_SUPPORT_FILE "Resources\\Support\\WaitableEvent.swift"

RESOURCE_NAME_CWINRT_CPPINTEROPWORKAROUND_H RESOURCE_TYPE_OTHER_FILE "Resources\\CWinRT\\CppInteropWorkaround.h"
RESOURCE_NAME_CWINRT_IVECTORCHANGEDEVENTARGS_H RESOURCE_TYPE_OTHER_FILE "Resources\\CWinRT\\IVectorChangedEventArgs.h"
RESOURCE_NAME_CWINRT_RESTRICTEDERRORINFO_H RESOURCE_TYPE_OTHER_FILE "Resources\\CWinRT\\RestrictedErrorInfo.h"
RESOURCE_NAME_CWINRT_SHIM_C RESOURCE_TYPE_OTHER_FILE "Resources\\CWinRT\\shim.c"
RESOURCE_NAME_CWINRT_PACKAGE_SWIFT RESOURCE_TYPE_OTHER_FILE "Resources\\CWinRT\\Package.swift"

RESOURCE_NAME_CWINRT_ROBUFFER_H RESOURCE_TYPE_OTHER_FILE "Resources\\CWinRT\\robuffer.h"
RESOURCE_NAME_CWINRT_MEMORYBUFFER_H RESOURCE_TYPE_OTHER_FILE "Resources\\CWinRT\\MemoryBuffer.h"
RESOURCE_NAME_CWINRT_WEAKREFERENCE_H RESOURCE_TYPE_OTHER_FILE "Resources\\CWinRT\\WeakReference.h"
