Aggregation SWIFT_FILE "Support\\Aggregation.swift"
Collections SWIFT_FILE "Support\\Collections.swift"
COM+Extensions SWIFT_FILE "Support\\COM+Extensions.swift"
Debugging SWIFT_FILE "Support\\Debugging.swift"
Error SWIFT_FILE "Support\\Error.swift"
ErrorHandling SWIFT_FILE "Support\\ErrorHandling.swift"
Event SWIFT_FILE "Support\\Event.swift"
HString SWIFT_FILE "Support\\HString.swift"
HStringStorage SWIFT_FILE "Support\\HStringStorage.swift"
IInspectable+Swift SWIFT_FILE "Support\\IInspectable+Swift.swift"
IInspectable SWIFT_FILE "Support\\IInspectable.swift"
IUnknown+Swift SWIFT_FILE "Support\\IUnknown+Swift.swift"
IUnknown SWIFT_FILE "Support\\IUnknown.swift"
IUnknownRef SWIFT_FILE "Support\\IUnknownRef.swift"
RawTyped SWIFT_FILE "Support\\RawTyped.swift"
Runtime+Swift SWIFT_FILE "Support\\Runtime+Swift.swift"
StringHelpers SWIFT_FILE "Support\\StringHelpers.swift"
Swift+Extensions SWIFT_FILE "Support\\Swift+Extensions.swift"
TrustLevel+Swift SWIFT_FILE "Support\\TrustLevel+Swift.swift"
WinRTWrapperBase SWIFT_FILE "Support\\WinRTWrapperBase.swift"
WinSDK+Extensions SWIFT_FILE "Support\\WinSDK+Extensions.swift"