name: Pull Request Build

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-2022
    name: Swift/WinRT PR Build & Test
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: ./.github/actions/windows-build
        with:
          config: debug